* {
    vertical-align: top;
    font-family: 'PT Sans';
}

.title {
    text-align: center;
    font-size: 36px;
}

.footer {
    margin-top:5px;
}

.map {
    height:500px;
    width:960px;
    display:inline-block;
}

.details {
    margin-left:10px;
    padding-top:50px;
    height:500px;
    width:360px;
    display:inline-block;
}

.state-name {
    width:100%;
    text-align: left;
    font-size:24px;
}

.election-today {
    width: 100%;
    text-align: left;
    font-size:16px;
    fill:#666;
}

.state-info {
    width:100%;
    text-align: left;
    margin-top:20px;
    margin-bottom:20px;
    font-size:16px;
}

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
}

#states .active {
  fill: orange;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.state-label {}
